<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %-5l: %c - %m%n" />
		</layout>
	</appender>

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="10MB" />
	   <param name="maxBackupIndex" value="10" />
	   <param name="File" value="mylog.log" />
	   <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss.SSS} %-5p %-5l: %c - %m%n" />
	   </layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.cmc.osd.tutorial.*">
		<level value="DEBUG" />
		<appender-ref ref="fileAppender" /> 
	</logger>
	
	<logger name="org.springframework.beans.*">
		<level value="DEBUG" />
		<appender-ref ref="fileAppender" /> 
	</logger> 

	<!-- Root Logger -->
	<root>
		<priority value="debug" /> 
		<appender-ref ref="fileAppender" />
	</root>
</log4j:configuration>
